{% extends 'admin/base.html.twig' %} 

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('libs/trumbowyg/ui/trumbowyg.min.css') }}">
{% endblock %}

{% block body %}
	<div class="my-3 my-md-5">
	    <div class="container">
	        <div class="page-header">
	            <h1 class="page-title">Post: New</h1>
	        </div>
	        <div class="row">
	            <div class="col-12">
	                {{ form_start(form, {'attr': {'class' :'card'}}) }}
		                <div class="card-header">
		                    <h3 class="card-title">Post Form</h3>
		                </div>
		                <div class="card-body">
		                    <div class="row">
		                        <div class="col-6">
		                            <div class="form-group">
		                                {{ form_row(form.name) }}
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col-12">
		                            <div class="form-group">
		                                {{ form_row(form.content) }}
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="card-footer text-right">
		                    <div class="btn-list text-right">
		                        <button type="submit" name="status" value="{{ constant('App\\Entity\\Post::STATUS_DRAFT') }}" class="btn btn-secondary btn-square">Save as Draft</button>
		                        <button type="submit" name="status" value="{{ constant('App\\Entity\\Post::STATUS_PUBLISHED') }}" class="btn btn-success btn-square">Save and Publish</button>
		                    </div>
		                </div>
	                {{ form_end(form) }}
	            </div>
	        </div>
	    </div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('libs/trumbowyg/trumbowyg.min.js') }}"></script>
	<script>
		$(function() {
			$('.trumbowyg').trumbowyg();
		});
	</script>
{% endblock %}