{% extends 'admin/base.html.twig' %} {% block body %}
	<div class="my-3 my-md-5">
	    <div class="container">
	        <div class="page-header">
	            <h1 class="page-title float-left">post Index</h1>
	            <a href="{{ path('admin_post_new') }}" class="btn btn-icon btn-success btn-square float-right btn-sm">
					<i class="fe fe-plus"></i> new post
				</a>
				<div class="clearfix"></div>
	        </div>

	        {% for message in app.flashes('success') %}
			    <div class="flash-notice">
			       <div class="alert alert-success" role="alert">
			       		 {{ message|raw }}
			       </div>
			    </div>
			{% endfor %}

	    	{% if pager.nbResults %}
		        <div class="card">
		            <div class="table-responsive">
		                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
		                    <thead>
		                        <tr>
		                            <th>Name</th>
		                            <th>Status</th>
		                            <th width="100">Created</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        {% for post in pager.currentPageResults %}
		                        	<tr data-url="{{ path('admin_post_edit', {slug: post.slug}) }}" class="tr-action">
		                        		<td>{{ post.name }}</td>
		                        		<td><span class="tag tag-{{ post.statusColour(post.status) }}">{{ post.statusName(post.status) }}</span></td>
		                        		<td>{{ post.createdAt|date('D, Y-m-d H:i:s') }}</td>
		                        	</tr>
		                        {% endfor %}
		                    </tbody>
		                </table>
		            </div>
		            <div class="card-footer">
		            	<div class="btn-list text-right">
		            		<a href="{{ path('admin_post_index', {page: 1}) }}" class="btn btn-secondary btn-sm"><i class="fe fe-chevrons-left"></i></a>
	                        {% for i in 1..pager.nbPages %}
	                            <a class="btn btn-{% if pager.currentPage == i %}primary{% else %}secondary{% endif %} btn-sm {% if i == pager.currentPage %}active{% endif %}" href="{{ path('admin_post_index', {page: i}) }}">{{ i }}</a>
	                        {% endfor %}
		            		<a href="{{ path('admin_post_index', {page: pager.nbPages}) }}" class="btn btn-secondary btn-sm"><i class="fe fe-chevrons-right"></i></a>
		            	</div>
		            </div>
		        </div>
	        {% else %}
				<div class="alert alert-info" role="alert">
					post list is empty.  <a href="{{ path('admin_post_new') }}" class="btn btn-outline-success btn-square btn-sm">Create post now!</a>
				</div>
	        {% endif %}
	    </div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		$(function() {
			$('.tr-action').click(function() {
				var url = $(this).data('url');
				window.location.href = url;
			});
		});
	</script>
{% endblock %}