<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="#">
				<img src="{{ asset('build/img/logo.svg') }}" class="header-brand-img" alt="logo"> UKDS PageMaker
			</a>
            <div class="d-flex order-lg-2 ml-auto">
                <div class="nav-item d-none d-md-flex">
                    <a href="/" target="_blank"><i class="fe fe-monitor"></i></a>
                </div>
                <div class="dropdown">
                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
						<span class="avatar" style="background-image: url()"></span>
						<span class="ml-2 d-none d-lg-block">
							<span class="text-default">{{ app.user.firstname ~ ' ' ~ app.user.lastname }}</span>
							<small class="text-muted d-block mt-1">Administrator</small>
						</span>
					</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="#">
							<i class="dropdown-icon fe fe-user"></i> Profile
						</a>
                        <a class="dropdown-item" href="#">
							<i class="dropdown-icon fe fe-settings"></i> Settings
						</a>
                        <a class="dropdown-item" href="#">
							<span class="float-right"><span class="badge badge-primary">6</span></span>
							<i class="dropdown-icon fe fe-mail"></i> Inbox
						</a>
                        <a class="dropdown-item" href="#">
							<i class="dropdown-icon fe fe-send"></i> Message
						</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('logout') }}">
							<i class="dropdown-icon fe fe-log-out"></i> Sign out
						</a>
                    </div>
                </div>
            </div>
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
				<span class="header-toggler-icon"></span>
			</a>
        </div>
    </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 ml-auto">
                <form class="input-icon my-3 my-lg-0">
                    <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
                    <div class="input-icon-addon">
                        <i class="fe fe-search"></i>
                    </div>
                </form>
            </div>
            <div class="col-lg order-lg-first">
                {% include 'admin/component/menu.html.twig' %}
            </div>
        </div>
    </div>
</div>