{% set route = app.request.get('_route') %}
{% set parent = app.request.get('parent') %}

<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
    <li class="nav-item">
    	<a href="{{ path('admin_index') }}" class="nav-link {% if route == 'admin_index' %}active{% endif %}">
    		<i class="fe fe-home"></i> Dashboard
    	</a>
	</li>
	<li class="nav-item">
    	<a href="{{ path('admin_page_index') }}" class="nav-link {% if route == 'admin_page_index' or parent == 'page' %}active{% endif %}">
    		<i class="fe fe-book-open"></i> Pages
    	</a>
	</li>
	<li class="nav-item">
        <a href="{{ path('admin_post_index') }}" class="nav-link {% if route == 'admin_post_index' or parent == 'post' %}active{% endif %}">
            <i class="fe fe-edit-3"></i> Posts
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('admin_user_index') }}" class="nav-link {% if route == 'admin_user_index' or parent == 'user' %}active{% endif %}">
            <i class="fe fe-users"></i> Users
        </a>
    </li>
    <li class="nav-item">
    	<a href="{{ path('admin_media_index') }}" class="nav-link {% if route == 'admin_media_index' or parent == 'media' %}active{% endif %}">
    		<i class="fe fe-image"></i> Media
    	</a>
	</li>
	<li class="nav-item">
    	<a href="{{  path('admin_setting_index') }}" class="nav-link {% if route == 'admin_setting_index' %}active{% endif %}">
    		<i class="fe fe-settings"></i> Setting
    	</a>
	</li>
</ul>