{% extends 'admin/base.html.twig' %} 

{% block body %}
	<div class="my-3 my-md-5">
	    <div class="container">
	        <div class="page-header">
	            <h1 class="page-title">Settings</h1>
	        </div>
	        <div class="row">
	            <div class="col-6">
	                {{ form_start(roleForm, {'attr': {'class' :'card'}}) }}
		                <div class="card-header">
		                    <h3 class="card-title">User Roles</h3>
		                </div>

		                {% for message in app.flashes('success') %}
		                	<div class="card-alert alert alert-success mb-0">
		                		 {{ message|raw }}
		                	</div>
						{% endfor %}

		                <div class="card-body">
		                    <div class="row">
		                    	<div class="col-6">
		                    		<label class="form-label">Roles</label>
		                    		{% for role in roles %}
										<span class="tag tag-teal">{{ role.name }}</span>
		                    		{% endfor %}
		                    	</div>
		                        <div class="col-6">
		                            <div class="form-group">
		                                {{ form_row(roleForm.name) }}
		                            </div>
		                            <div class="form-group">
		                                {{ form_row(roleForm.role) }}
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col-12">
		                            <div class="form-group">
		                               
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="card-footer text-right">
		                    <div class="btn-list text-right">
		                        <button type="submit" class="btn btn-success btn-square">Add Role</button>
		                    </div>
		                </div>
	                {{ form_end(roleForm) }}
	            </div>
	        </div>
	    </div>
	</div>
{% endblock %}