<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}PageMaker{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/admin/css/admin-app.min.css') }}"> 

    {% block stylesheets %}{% endblock %}

</head>

<body>
    <div class="page">
        <div class="page-main">
            {% include 'admin/component/header.html.twig' %}
            
            {% block body %}{% endblock %}

        </div>
        {% include ('admin/component/footer.html.twig') %}
    </div>

    <script src="{{ asset('libs/jquery/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('libs/bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('libs/sweetalert/sweetalert.min.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>

</html>