{% extends 'admin/base.html.twig' %}

{% block body %}
	<div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">Dashboard</h1>
            </div>

            <div class="row row-cards">
            	{% if pages.draft %}
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card card-action">
                            <div class="card-body p-3 text-center" data-url="{{ path('admin_page_index', {status: constant('App\\Entity\\Page::STATUS_DRAFT')}) }}">
                                <div class="text-center text-green">
                                    <span class="tag tag-rounded">Drafts</span>
                                </div>
                                <div class="h1 m-0">{{ pages.draft|length }}</div>
                                <div class="text-muted mb-4">Pages</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if pages.published %}
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card card-action">
                            <div class="card-body p-3 text-center" data-url="{{ path('admin_page_index', {status: constant('App\\Entity\\Page::STATUS_PUBLISHED')}) }}">
                                <div class="text-center">
                                    <span class="tag tag-rounded tag-green">Published</span>
                                </div>
                                <div class="h1 m-0">{{ pages.published|length }}</div>
                                <div class="text-muted mb-4">Pages</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="row row-cards">
                {% if posts.draft %}
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card card-action">
                            <div class="card-body p-3 text-center" data-url="{{ path('admin_post_index', {status: constant('App\\Entity\\Post::STATUS_DRAFT')}) }}">
                                <div class="text-center text-green">
                                    <span class="tag tag-rounded">Drafts</span>
                                </div>
                                <div class="h1 m-0">{{ posts.draft|length }}</div>
                                <div class="text-muted mb-4">Posts</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if posts.published %}
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card card-action">
                            <div class="card-body p-3 text-center" data-url="{{ path('admin_post_index', {status: constant('App\\Entity\\Post::STATUS_PUBLISHED')}) }}">
                                <div class="text-center">
                                    <span class="tag tag-rounded tag-green">Published</span>
                                </div>
                                <div class="h1 m-0">{{ posts.published|length }}</div>
                                <div class="text-muted mb-4">Posts</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            var card = $('.card-action .card-body');

            card.click(function(e) {
                var url = $(this).data('url');

                if (url) {
                    window.location.href = url;
                }
            });
        });
    </script>
{% endblock %}