{% extends 'admin/base.html.twig' %} 

{% block body %}
	<div class="my-3 my-md-5">
	    <div class="container">
	        <div class="page-header d-flex">
	            <h1 class="page-title">
	                Media
	              </h1>
	            <div class="page-subtitle">1 - 12 of 1713 photos</div>
	            <div class="page-options d-flex">
	            	<button class="btn btn-teal upload-btn"><i class="fe fe-upload-cloud"></i></button>
	                <select class="form-control custom-select w-auto ml-2">
	                    <option value="asc">Newest</option>
	                    <option value="desc">Oldest</option>
	                </select>
	                <div class="input-icon ml-2">
	                    <span class="input-icon-addon">
	                    <i class="fe fe-search"></i>
	                  </span>
	                    <input type="text" class="form-control w-10" placeholder="Search photo">
	                </div>
	            </div>
	        </div>

	        {% if medias|length %}
		        <div class="row row-cards">
		        	{% for media in medias %}
			            <div class="col-sm-6 col-lg-4">
			                <div class="card p-3">
			                    <a href="javascript:void(0)" class="mb-3">
			                    <img src="{{ asset(media.location ~ 'thumb/' ~ media.filename) }}" alt="Photo by Nathan Guerrero" class="rounded">
			                  </a>
			                    <div class="d-flex align-items-center px-2">
			                        <div class="ml-auto text-muted">
			                            <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 112</a>
			                            <a href="#" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-trash mr-1"></i> 42</a>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        {% endfor %}
		        </div>
		    {% else %}
		    	<div class="alert alert-info">
		    		Media storage is empty. <a href="#" class="btn btn-success btn-sm upload-btn">Upload one now</a>
		    	</div>
		    {% endif %}
    		<form action="{{ path('admin_media_upload') }}" method="post" class="media-upload" enctype="multipart/form-data">
    			<input type="file" hidden name="files[]" value="" multiple class="files-input">
    		</form>
	    </div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		$(function() {
			$('.upload-btn').click(function(e) {
				e.preventDefault();

				$('.files-input').trigger('click');
			});

			// upload media
			$('.files-input').on('change', function(e) {
				swal({
					title: 	'Uploading',
					text: 'please wait',
					icon: "{{ asset('/build/img/loader.gif') }}",
					buttons: [false, false]
				});

				$('.media-upload').submit();
			});
		});
	</script>
{% endblock %}