<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}PageMaker{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/admin/css/admin-app.min.css') }}"> 

    {% block stylesheets %}{% endblock %}

</head>

<body>
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center mb-6">
                            <img src="{{ asset('/img/logo.svg')}}" class="h-6" alt="" width="150">
                        </div>
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('libs/jquery/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('libs/bootstrap/bootstrap.bundle.min.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>

</html>