{% extends 'single.html.twig' %} 

{% block body %}

	{% if error %}
	    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form action="{{ path('login') }}" class="card" method="post">
		<div class="card-header">
			<h3 class="card-title">Login</h3>
		</div>
	    <div class="card-body p-6">
	        <div class="form-group">
	            <label for="username" class="form-label">Username</label>
	            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="username/email" class="form-control">
	        </div>
	        <div class="form-group">
	            <label for="password" class="form-label">Password</label>
	            <input type="password" id="password" name="_password" class="form-control">
	        </div>
	    </div>
	    <div class="card-footer">
	        <button type="submit" class="btn btn-primary btn-block">Login</button>
	    </div>
	</form>
	<div class="text-center text-muted">
	    No account yet? <a href="{{ path('user_registration') }}">Register</a>
	</div>
{% endblock %}