{% extends 'single.html.twig' %} 

{% block body %}
	{{ form_start(form, {'attr':{'class': 'card'}})}}
	    <div class="card-body p-6">
	        <div class="card-title">Create new account</div>
	        <div class="form-group">
	            {{ form_row(form.username) }}
	        </div>
	        <div class="form-group">
	            {{ form_row(form.firstname) }}
	        </div>
	        <div class="form-group">
	            {{ form_row(form.lastname) }}
	        </div>
	        <div class="form-group">
	            {{ form_row(form.email) }}
	        </div>
	        <div class="form-group">
	            {{ form_row(form.plainPassword.first) }}
	        </div>
	        <div class="form-group">
	            {{ form_row(form.plainPassword.second) }}
	        </div>
	        <div class="form-footer">
	            <button type="submit" class="btn btn-primary btn-block">Create new account</button>
	        </div>
	    </div>
	{{ form_end(form) }}
	<div class="text-center text-muted">
	    Already have account? <a href="./login.html">Sign in</a>
	</div>
{% endblock %}